.main_nav{
    background-color: rgb(91, 0, 119);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    z-index: 999;
    width: 100vw;
    position: fixed;


    .logo{
        img{
            max-width: 150px;
        }
    }

    .navbar{
        ul{
            li{
                list-style: none;
                margin:0 1rem ;
                a{
                    text-decoration: none;
                    font-weight: 600;
                    color: rgb(255, 255, 255);
                    position: relative;
                    transform: translateY(-10px);
                    display: flex;
                    justify-content: center;
                    top: 70%;

                    &::before{
                        transition: .2s ease-in-out;

                        position: absolute;
                        content: "";
                        width: 0;
                        height: 5px;
                        border-radius: 4px;
                        background-color: rgb(255, 255, 255);
                        top: 100%;
                        transform: translateY(0px);
                    }
                    
                    &:hover{

                        &::before{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 5px;
                            border-radius: 4px;
                            background-color: rgb(255, 255, 255);
                            top: 100%;
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }
}