.main_nav{
    background-color: rgb(91, 0, 119);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    z-index: 999;
    width: 100vw;
    position: fixed;

    .toggle{
        display: none;
    }


    .logo{
        img{
            max-width: 150px;
        }
    }

    .navbar{
        ul{
            li{
                list-style: none;
                margin:0 1rem ;
                a{
                    text-decoration: none;
                    font-weight: 600;
                    color: rgb(255, 255, 255);
                    position: relative;
                    transform: translateY(-10px);
                    display: flex;
                    justify-content: center;
                    top: 70%;

                    &::before{
                        transition: .2s ease-in-out;

                        position: absolute;
                        content: "";
                        width: 0;
                        height: 5px;
                        border-radius: 4px;
                        background-color: rgb(255, 255, 255);
                        top: 100%;
                        transform: translateY(0px);
                    }
                    
                    &:hover{

                        &::before{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 5px;
                            border-radius: 4px;
                            background-color: rgb(255, 255, 255);
                            top: 100%;
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px){

    .main_nav{
        height: 105px;

        .logo{
            img{
                height: 104px;
            }
        }
        
        .navbar{
            nav{
                display: none;
            }
            .show{
                display: flex !important;
                position: relative;
                width: 100%;
                height: 125%;

                ul{
                    position: absolute;
                    z-index: 999999;
                    transition: .3s all ease-in-out;
                    background-color: rgb(91, 0, 119);
                    align-items: center;
                    border-radius: 0 0 10px 10px;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
                    height: 170%;
                    width: 50vw;
                    flex-direction: column;
                    align-items: flex-end;

                    @media (max-width: 320px){
                        height: 256%;
                    }

                    li{
                        padding: 1rem auto;
                        height: 30%;

                        @media (max-width: 320px) {
                            margin: 0 0.3rem;
                        }
                        a{
                            text-align: right;
                            font-size: 18px;
                            @media (max-width: 320px){
                                text-align: right;
                                margin: .3rem;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            
            .toggle{
                position: relative;
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                overflow: hidden;
                height: 100%;
    
                span{
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: #fff;
                    border-radius: 10px;
                    transition: .5s ease-in-out all;
    
                    &:nth-child(1){
                        transform: translateY(-15px);
                    }
                    &:nth-child(2){
                        transform: translateY(15px);
                    }
                }            
            }
            .active{
                span{
                    &:nth-child(3){
                        width: 0;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(1){
                        transform: rotate(315deg);
                    }
                }
            } 
        }        
    }
}