@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.main_nav {
  background-color: #5b0077;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  z-index: 999;
  width: 100vw;
  position: fixed;
}

.main_nav .toggle {
  display: none;
}

.main_nav .logo img {
  max-width: 150px;
}

.main_nav .navbar ul li {
  list-style: none;
  margin: 0 1rem;
}

.main_nav .navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  position: relative;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 70%;
}

.main_nav .navbar ul li a::before {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  content: "";
  width: 0;
  height: 5px;
  border-radius: 4px;
  background-color: white;
  top: 100%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main_nav .navbar ul li a:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: white;
  top: 100%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 800px) {
  .main_nav {
    height: 105px;
  }
  .main_nav .logo img {
    height: 104px;
  }
  .main_nav .navbar nav {
    display: none;
  }
  .main_nav .navbar .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative;
    width: 100%;
    height: 125%;
  }
  .main_nav .navbar .show ul {
    position: absolute;
    z-index: 999999;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background-color: #5b0077;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    height: 170%;
    width: 50vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 800px) and (max-width: 320px) {
  .main_nav .navbar .show ul {
    height: 256%;
  }
}

@media (max-width: 800px) {
  .main_nav .navbar .show ul li {
    padding: 1rem auto;
    height: 30%;
  }
}

@media (max-width: 800px) and (max-width: 320px) {
  .main_nav .navbar .show ul li {
    margin: 0 0.3rem;
  }
}

@media (max-width: 800px) {
  .main_nav .navbar .show ul li a {
    text-align: right;
    font-size: 18px;
  }
}

@media (max-width: 800px) and (max-width: 320px) {
  .main_nav .navbar .show ul li a {
    text-align: right;
    margin: .3rem;
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .main_nav .navbar .toggle {
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    overflow: hidden;
    height: 100%;
  }
  .main_nav .navbar .toggle span {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s ease-in-out all;
    transition: .5s ease-in-out all;
  }
  .main_nav .navbar .toggle span:nth-child(1) {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .main_nav .navbar .toggle span:nth-child(2) {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .main_nav .navbar .active span:nth-child(3) {
    width: 0;
  }
  .main_nav .navbar .active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main_nav .navbar .active span:nth-child(1) {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

.main_banner .banner_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 100%;
  height: 90vh;
}

.main_banner .banner_slider .title {
  z-index: 1;
  width: 100%;
  height: 93.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(169, 250, 253, 0.356);
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .main_banner .banner_slider .title {
    height: 86.5vh;
  }
}

.main_banner .banner_slider .title h1 {
  font-family: 'Satisfy', cursive;
  font-size: 8rem;
  color: purple;
}

@media (max-width: 800px) {
  .main_banner .banner_slider .title h1 {
    font-size: 5rem;
  }
}

.main_banner .banner_slider img {
  top: 12%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .main_banner .banner_slider img {
    top: 8%;
  }
}

.main_banner .banner_slider .selected {
  opacity: 1;
}

.main_banner .banner_slider .shine {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.main_banner .banner_slider .shine img {
  width: 100%;
  height: 90%;
  opacity: 1 !important;
}

.gallery {
  background-color: rgba(238, 238, 238, 0.13);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 3%;
  border-radius: 2rem;
  margin-top: 5%;
}

.gallery h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Satisfy', cursive;
  color: purple;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery h1::after {
  content: "";
  background-image: url("https://cdn.ecvol.com/s/www.querocase.com.br/produtos/topsocket-patinha-de-gato/z/0.png?v=0");
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  top: 94%;
  border: 5px solid purple;
  border-radius: 50%;
}

.gallery h1::before {
  content: "";
  width: 30%;
  height: 5px;
  border-radius: 10px;
  background-color: purple;
  position: absolute;
  top: 130%;
}

@media (max-width: 800px) {
  .gallery h1::before {
    top: 143%;
  }
}

.gallery .container_images {
  margin-top: 5rem;
  text-align: center;
}

.gallery .container_images img {
  max-width: 200px;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  opacity: .8;
}

.gallery .container_images img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px black;
          box-shadow: 0 0 40px black;
}

.container_video video {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container_footer {
  background-color: purple;
  position: relative;
}
/*# sourceMappingURL=main.css.map */